.nav-wrapper{
    background-color: navy;
    height: 100px;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px 100px;

}
.nav-menu-wrapper a{
    color:deepskyblue;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-section {
    background-color:deepskyblue;
    width:100%;
    height: 1700px;
    text-align: center;

}
.main-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 550px;
    padding: 30px;
}
.main-section h1{
    color: blue;
    text-align: center;
    text-shadow: 5px 5px 10px white;
}
.main-content p{
    font-size: 30px;
    color:blue;
    text-align:left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 30px;
    line-height:2 ;
}

.ending>.end-wrapper{
    background-color: navy;
    height: 40px;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px 100px;
}

 

